@model PrimerProyecto.GRUPO_ARTISTA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GRUPO_ARTISTA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMENTARIOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIOS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_grupoArtista }) |
    @Html.ActionLink("Back to List", "Index")
</p>
