@model IEnumerable<PrimerProyecto.GRUPO_ARTISTA>

@{
    ViewBag.Title = "GRUPO O ARTISTA";
}

<h2>GRUPO O ARTISTA</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMENTARIOS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMENTARIOS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_grupoArtista }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_grupoArtista }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_grupoArtista })
        </td>
    </tr>
}

</table>
