@model PrimerProyecto.DISTRITO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DISTRITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom_Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom_Distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS.NomPais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS.NomPais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_distrito }) |
    @Html.ActionLink("Back to List", "Index")
</p>
