<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul  class="nav navbar-nav">
                    <li >@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li >@Html.ActionLink("GRUPO/ARTISTA", "Index", "GRUPO_ARTISTA")</li>
                    <li >@Html.ActionLink("PAIS", "Index", "PAIS")</li>
                    <li >@Html.ActionLink("DISTRITO", "Index", "DISTRITOes")</li>
                    <li >@Html.ActionLink("ENCARGADO", "Index", "ENCARGADOes")</li>
                    <li >@Html.ActionLink("EVENTO", "Index", "EVENTOes")</li>
                    <li >@Html.ActionLink("LUGAR", "Index", "LUGARs")</li>
                    <li >@Html.ActionLink("PRECIOS", "Index", "PRECIOS_EVENTOS")</li>
                    <li >@Html.ActionLink("PRESENTACION", "Index", "TIPO_PRESENTACION")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
